#coverage.py configuration
[run]
source = setools
# This is SWIG generated:
omit = setools/policyrep/qpol.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    return NotImplemented
