include *.md
include ChangeLog
include COPYING*
include tox.ini

recursive-include man *
recursive-include setools *
recursive-include setoolsgui *
recursive-include tests *

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.so
