include ChangeLog
include COPYING*
include man/*
include qhc/*
include setools/perm_map
include setools/policyrep/*.pxd
include setools/policyrep/*.pxi
include setools/*.pyx
include setoolsgui/*.ui
include setoolsgui/apol/*.ui
include setoolsgui/apol/apol.qhc
include tests/*.conf
include tests/*.py
include tests/perm_map
