/*
 * Generic styles
 */

QGroupBox {
    border: 1px solid lightgrey;
    margin-top: 0.5em;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 10px;
    padding: 0 3px 0 3px;
}

/*
 * Specific styles
 */
ChooseAnalysis {
    width: 400px;
    height: 420px;
}

ExcludeTypes {
    width: 620px;
    height: 340px;
}

ExcludeTypes#header {
    font-style: bold;
}

HtmlHelpDialog {
    min-width: 640px;
    min-height: 480px;
}

PermissionMapEditor {
    width: 750px;
    height: 450px;
}

QLabel#title {
    font-size: 14pt;
    font-style: bold;
}

QLabel#error_message {
    color: red;
    font-weight: bold;
}

QMainWindow {
    width: 1024px;
    height: 768px;
    min-width: 800px;
    min-height: 600px;
}

QPlainTextEdit#raw_results {
    font-family: monospace
}
