name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.8"
          - python-version: "3.9"
          - python-version: "3.10"
          - python-version: "3.11"
          - python-version: "3.12"

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Git patch libsepol
      run: git -C external/aosp_selinux apply ../aosp_selinux.diff

    - name: Build selinux libraries
      run: |
        make -C ./external/libsepol/ -j
        CFLAGS=-I`realpath external/aosp_selinux/libsepol/include/` make -C ./external/libselinux/ -j
        cp ./external/libsepol/src/libsepol.so.2 ./setools
        cp ./external/libselinux/src/libselinux.so.1 ./setools

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools cython wheel

    - name: Build package
      run: |
        USERSPACE_SRC=./external python setup.py build_ext
        USERSPACE_SRC=./external python setup.py build bdist_wheel --plat-name=manylinux1_x86_64

    - name: Upload built artifacts
      uses: actions/upload-artifact@v4
      with:
        name: android-setools-${{ matrix.python-version }}.whl
        path: dist/*.whl

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
